@charset "utf-8";

/* SUIT */
@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url('../font/SUIT-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url('../font/SUIT-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url('../font/SUIT-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url('../font/SUIT-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url('../font/SUIT-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url('../font/SUIT-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url('../font/SUIT-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url('../font/SUIT-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url('../font/SUIT-Heavy.ttf') format('truetype');
}


/* SCDream */
@font-face {
	font-family: 'SCDream';
	font-weight: 100;
	src: url('../font/SCDream1.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 200;
	src: url('../font/SCDream2.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 300;
	src: url('../font/SCDream3.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 400;
	src: url('../font/SCDream4.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 500;
	src: url('../font/SCDream5.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 600;
	src: url('../font/SCDream6.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 700;
	src: url('../font/SCDream7.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 800;
	src: url('../font/SCDream8.otf') format('opentype');
}
@font-face {
	font-family: 'SCDream';
	font-weight: 900;
	src: url('../font/SCDream9.otf') format('opentype');
}


/* Roboto */
@font-face{
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('../font/Roboto-Thin.eot');
    src: url('../font/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Thin.woff2') format('woff2'),
        url('../font/Roboto-Thin.woff') format('woff'),
        url('../font/Roboto-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../font/Roboto-Light.eot');
    src: url('../font/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Light.woff2') format('woff2'),
        url('../font/Roboto-Light.woff') format('woff'),
        url('../font/Roboto-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('../font/Roboto-Regular.eot');
    src: url('../font/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Regular.woff2') format('woff2'),
        url('../font/Roboto-Regular.woff') format('woff'),
        url('../font/Roboto-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('../font/Roboto-Medium.eot');
    src: url('../font/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Medium.woff2') format('woff2'),
        url('../font/Roboto-Medium.woff') format('woff'),
        url('../font/Roboto-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('../font/Roboto-Bold.eot');
    src: url('../font/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Bold.woff2') format('woff2'),
        url('../font/Roboto-Bold.woff') format('woff'),
        url('../font/Roboto-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url('../font/Roboto-Black.eot');
    src: url('../font/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Roboto-Black.woff2') format('woff2'),
        url('../font/Roboto-Black.woff') format('woff'),
        url('../font/Roboto-Black.ttf') format("truetype");
    font-display: swap;
}


/* Pretendard */
@font-face{
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('../font/Pretendard-Thin.eot');
    src: url('../font/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Thin.woff2') format('woff2'),
        url('../font/Pretendard-Thin.woff') format('woff'),
        url('../font/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('../font/Pretendard-ExtraLight.eot');
    src: url('../font/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-ExtraLight.woff2') format('woff2'),
        url('../font/Pretendard-ExtraLight.woff') format('woff'),
        url('../font/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('../font/Pretendard-Light.eot');
    src: url('../font/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Light.woff2') format('woff2'),
        url('../font/Pretendard-Light.woff') format('woff'),
        url('../font/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('../font/Pretendard-Regular.eot');
    src: url('../font/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard-Regular.woff') format('woff'),
        url('../font/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('../font/Pretendard-Medium.eot');
    src: url('../font/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Medium.woff2') format('woff2'),
        url('../font/Pretendard-Medium.woff') format('woff'),
        url('../font/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('../font/Pretendard-SemiBold.eot');
    src: url('../font/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-SemiBold.woff2') format('woff2'),
        url('../font/Pretendard-SemiBold.woff') format('woff'),
        url('../font/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('../font/Pretendard-Bold.eot');
    src: url('../font/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard-Bold.woff') format('woff'),
        url('../font/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('../font/Pretendard-ExtraBold.eot');
    src: url('../font/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-ExtraBold.woff2') format('woff2'),
        url('../font/Pretendard-ExtraBold.woff') format('woff'),
        url('../font/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('../font/Pretendard-Black.eot');
    src: url('../font/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Black.woff2') format('woff2'),
        url('../font/Pretendard-Black.woff') format('woff'),
        url('../font/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}

/* Poppin */
@font-face {
	font-family: 'Poppins';
	font-weight: 100;
	src: url('../font/Poppins-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 200;
	src: url('../font/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 300;
	src: url('../font/Poppins-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 400;
	src: url('../font/Poppins-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 500;
	src: url('../font/Poppins-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 600;
	src: url('../font/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 700;
	src: url('../font/Poppins-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Poppins';
	font-weight: 800;
	src: url('../font/Poppins-ExtraBold.ttf') format('truetype');
}

/* NotoSans */
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url('../font/NotoSansKR-Thin.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url('../font/NotoSansKR-Thin.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 200;
    src: url('../font/NotoSansKR-ExtraLight.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url('../font/NotoSansKR-Light.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url('../font/NotoSansKR-Regular.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url('../font/NotoSansKR-Medium.woff') format(woff),
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    src: url('../font/NotoSansKR-SemiBold.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url('../font/NotoSansKR-Bold.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 800;
    src: url('../font/NotoSansKR-ExtraBold.woff') format(woff);
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    src: url('../font/NotoSansKR-Black.woff') format(woff);
}

/* NotoSerif- */
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 200;
    font-style: normal;
    src: url('../font/NotoSerifKR-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 300;
    font-style: normal;
    src: url('../font/NotoSerifKR-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 400;
    font-style: normal;
    src: url('../font/NotoSerifKR-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 500;
    font-style: normal;
    src: url('../font/NotoSerifKR-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 600;
    font-style: normal;
    src: url('../font/NotoSerifKR-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 700;
    font-style: normal;
    src: url('../font/NotoSerifKR-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 800;
    font-style: normal;
    src: url('../font/NotoSerifKR-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'NotoSerifKR';
    font-weight: 900;
    font-style: normal;
    src: url('../font/NotoSerifKR-Black.ttf') format("truetype");
    font-display: swap;
}

/* NanumSquare */
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url('../font/NanumSquareL.woff') format('woff');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url('../font/NanumSquareR.woff') format('woff');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url('../font/NanumSquareB.woff') format('woff');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url('../font/NanumSquareEB.woff') format('woff');
}

/* Montserrat */
@font-face{
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
    src: url('../font/Montserrat-Thin.eot');
    src: url('../font/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Thin.woff2') format('woff2'),
        url('../font/Montserrat-Thin.woff') format('woff'),
        url('../font/Montserrat-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 200;
    font-style: normal;
    src: url('../font/Montserrat-UltraLight.eot');
    src: url('../font/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-UltraLight.woff2') format('woff2'),
        url('../font/Montserrat-UltraLight.woff') format('woff'),
        url('../font/Montserrat-UltraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
    src: url('../font/Montserrat-Light.eot');
    src: url('../font/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Light.woff2') format('woff2'),
        url('../font/Montserrat-Light.woff') format('woff'),
        url('../font/Montserrat-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    src: url('../font/Montserrat-Regular.eot');
    src: url('../font/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff'),
        url('../font/Montserrat-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    src: url('../font/Montserrat-Medium.eot');
    src: url('../font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat-Medium.woff') format('woff'),
        url('../font/Montserrat-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('../font/Montserrat-SemiBold.eot');
    src: url('../font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff'),
        url('../font/Montserrat-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    src: url('../font/Montserrat-Bold.eot');
    src: url('../font/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff'),
        url('../font/Montserrat-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 800;
    font-style: normal;
    src: url('../font/Montserrat-ExtraBold.eot');
    src: url('../font/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/Montserrat-ExtraBold.woff') format('woff'),
        url('../font/Montserrat-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'Montserrat';
    font-weight: 900;
    font-style: normal;
    src: url('../font/Montserrat-Black.eot');
    src: url('../font/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Montserrat-Black.woff2') format('woff2'),
        url('../font/Montserrat-Black.woff') format('woff'),
        url('../font/Montserrat-Black.ttf') format("truetype");
    font-display: swap;
}

/* Gmarket Sans */
@font-face{
    font-family: 'GmarketSans';
    font-weight: 300;
    font-style: normal;
    src: url('../font/GmarketSansLight.eot');
    src: url('../font/GmarketSansLight.eot?#iefix') format('embedded-opentype'),
        url('../font/GmarketSansLight.woff2') format('woff2'),
        url('../font/GmarketSansLight.woff') format('woff'),
        url('../font/GmarketSansLight.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'GmarketSans';
    font-weight: 500;
    font-style: normal;
    src: url('../font/GmarketSansMedium.eot');
    src: url('../font/GmarketSansMedium?#iefix') format('embedded-opentype'),
        url('../font/GmarketSansMedium.woff2') format('woff2'),
        url('../font/GmarketSansMedium.woff') format('woff'),
        url('../font/GmarketSansMedium.ttf') format("truetype");
    font-display: swap;
}
@font-face{
    font-family: 'GmarketSans';
    font-weight: 700;
    font-style: normal;
    src: url('../font/GmarketSansBold.eot');
    src: url('../font/GmarketSansBold.eot?#iefix') format('embedded-opentype'),
        url('../font/GmarketSansBold.woff2') format('woff2'),
        url('../font/GmarketSansBold.woff') format('woff'),
        url('../font/GmarketSansBold.ttf') format("truetype");
    font-display: swap;
}

/* Freesentation */
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-1Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-2ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-4Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-5Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-6SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-7Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-8ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: 'Freesentation';
	src: url('../font/Freesentation-9Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

/* BCcard */
@font-face {
    font-family: 'BCcard';
    font-weight: 400;
    font-style: normal;
    src: url('../font/BCcardLight.eot');
    src: url('../font/BCcardLight.eot?#iefix') format('embedded-opentype'),
        url('../font/BCcardLight.woff2') format('woff2'),
        url('../font/BCcardLight.woff') format('woff'),
        url('../font/BCcardLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'BCcard';
    font-weight: 700;
    font-style: normal;
    src: url('../font/BCcardBold.eot');
    src: url('../font/BCcardBold.eot?#iefix') format('embedded-opentype'),
        url('../font/BCcardBold.woff2') format('woff2'),
        url('../font/BCcardBold.woff') format('woff'),
        url('../font/BCcardBold.ttf') format("truetype");
    font-display: swap;
}