@charset "utf-8";
/* ==================================================

    * popup
    
================================================== */
.popup-wrap{
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.popup-tit-wrap{
    padding: 22px 30px;
    padding-right: 50px;
    background-color: #144393;
}
.popup-contit-wrap {
    margin-bottom: 30px;
}
.popup-contit{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
}
.popup-contit-wrap.box {
    margin-bottom: 0;
    padding: 20px;
    background-color: #144393;
    text-align: center;
}
.popup-contit-wrap.box .popup-contit {
    color: #fff;
}

.popup-conbox{
    padding: 30px;
    font-size: 1.6rem;
}
.popup-wrap .popup-con img{
    max-width: 100%;
    border: 1px solid #eee;
}
.popup-wrap .popup-attach-con > a {
    display: block;
    transition: 0.3s ease;
    background-repeat: no-repeat;
    word-break: break-all;
    line-height: 1.2;
}

.btn.btn-pop-more{
    background-color: #fff ;
    border-color: #505050;
    color: #505050;
}
.btn.btn-pop-link{
    background-color: #775650;
    border-color: #775650;
    color: #fff;
}

.popup-footer{
    padding: 17px 20px;
    font-weight: 600;
    text-align: right;
    font-size: 1.4rem;
    line-height: 1;
    background-color: #ebebeb;
}
.popup-footer:has(.btn){
    position: relative;
    padding-right: 60px;
    text-align: left;
}
.popup-footer .btn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 60px;
    padding: 15px;
    font-size: 1.6rem;
    text-align: center;
    background-color: #3b3b3b;
    color: #fff;
}

/* */
.btn-pop-close{
    position: absolute;
    top: 25px;
    right: 30px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../image/popup/ic_popup_close.png');
}
.btn-pop-close.wh{
    background-image: url('../image/popup/ic_popup_close_wh.png');
}
.btn-pop-close.btn-out{
    right: -60px;
    top: 0;
    background-image: url('../image/popup/ic_popup_close_wh.png');
    background-size: 29px;
}

/* 레이어팝업 */
.popup-wrap:not(.win-popup-wrap) .popup-contents{
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 750px;
    margin: 80px auto;
    background-color: #fff;
    border-radius: 20px;
}

/* 윈도우팝업 */
.win-popup-wrap{
    width: 100%;
    max-width: 600px;
    background: none;
}
.win-popup-wrap .popup-contents{
    border: 1px solid #ebebeb;
}


/* ==================================================

    * responsive
    
================================================== */
@media screen and (max-width: 1024px){
    .btn-pop-close.btn-out {
        right: 0;
        top: -50px;
    }
}
@media screen and (max-width: 768px){
    .popup-wrap{
        justify-content: start;
    }
    .popup-wrap .popup-contents{
        margin: 3vh auto;
    }
    .popup-tit-wrap{
        padding: 15px 20px;
        padding-right: 50px;
        font-size: 20px;
    }
    .popup-tit{
        font-size: 20px;
    }
    .popup-contit-wrap {
        padding: 10px;
    }
    .popup-contit{ 
        font-size: 20px;
    }

    .popup-conbox{
        padding: 15px;
        font-size: 14px;
    }
    .popup-wrap .popup-attach-con > a {
        font-size: 12px;
    }

    .popup-footer{
        padding: 10px 15px;
        font-size: 12px;
    }
    .popup-footer:has(.btn) {
        padding: 12px 15px;
    }
    .popup-footer .btn {
        padding: 12px;
        font-size: 14px;
    }
    
    /* */
    .btn-pop-close{
        top: 18px;
        right: 15px;
        width: 25px;
        height: 25px;
        background-size: 20px;
    }
    .popup-wrap .btn-pop-close.btn-out {
        right: 0;
        top: -35px;
        background-size: 20px auto;
    }


    /* 레이어팝업 */
    .popup-wrap:not(.win-popup-wrap) .popup-contents{
        margin: 50px auto;
        border-radius: 10px;
    }

    /* 윈도우팝업 */
    .win-popup-wrap .popup-contents{
        margin: 0 auto;
    }

}