@charset "utf-8";
/* ==================================================

    * responsive
    
================================================== */

@media screen and (max-width: 1240px){
    /* base */
    .inner-layer{
        padding-left: 20px;
        padding-right: 20px;
    }

    /* 메인::비쥬얼 */
    .main-visual-wrap {
        width: 60%;
    }
    
    /* 서브::visual */
    .sub-visual{
        background-position: left -340px center;
    }
    
    /* 서브::LNB */
    .sub-menu {
        gap: 20px;
    }
    .sub-menu-list{
        margin-left: 20px;
    }
    .sub-menu-list ul {
        gap: 10px;
    }
    .breadcrumb {
        gap: 10px;
        padding: 0 20px 0 30px;
    }
}
@media screen and (max-width: 1024px){
    .main #container {
        padding-top: 0;
    }
    /* 메인::비쥬얼 */
    .main-visual-top {
        display: block;
    }
    .main-visual-wrap {
        width: calc(100% + 40px);
        margin: 0 -20px 20px;
    }
    .main-visual {
        border-radius: 0;
    }

    /* 메인::비쥬얼 사이드 */
    .main-aside-con {
        height: 180px;
        border-radius: 0;
    }
    .main-aside-con .box {
        padding: 0;
        border-radius: 0;
    }
    .main-aside-con .box > a {
        height: 100%;
        padding: 15px;
        margin-bottom: 0;
        font-size: 18px;
        color: #fff !important;
    }
    .main-aside-con .box > a{
        font-size: 16px;
        color: #fff !important;
    }
    .main-aside-con .box:after {
        right: 10px;
        bottom: 10px;
        width: 50px !important;
        height: 50px !important;
    }
    .main-aside-con:hover ul {
        opacity: 0;
    }
    .main-aside-con:hover .box {
        background-color: transparent;
    }
    .main-aside-con:hover .box:after {
        right: 10px;
        bottom: 10px;
        width: 60px !important;
        height: 60px !important;
    }

    /* 메인:: */
    .link-wrap .col2 {
        padding: 20px;
    }

    /* 행사장안내::오시는길 */
    .map-info{
        flex-direction: column;
        gap: 30px;
    }
    .map-info-box{
        width: 100%;
    }    

    /* 행사장안내::호텔예약안내 */
}

@media screen and (max-width: 768px){
    /* base */
    .inner-layer{
        padding-left: 15px;
        padding-right: 15px;
    }

    /* 메인:: 공통 */
    .main #container {
        background-image: url('../image/main/bg_main_m.png');
        background-position: center bottom;
        background-size: 100% auto;
    }
    .main .section + .section {
        margin-top: 30px;
    }
    .main-tit-wrap{
        margin-bottom: 10px;
    }
    .main-tit-wrap img {
        height: 25px;
    }
    .main-tit {
        font-size: 16px;
    }
    .col-wrap {
        flex-wrap: wrap;
        gap: 10px;
    }
    .col-wrap .col2 {
        width: 100%;
    }

    /* 메인::비쥬얼 */
    .main-visual-top {
        flex-direction: column;
    }
    .main-visual-wrap {
        width: calc(100% + 30px);
        max-height: none;
        margin-left: -15px;
    }
    .main-visual,
    .main-visual .slick-list,
    .main-visual .slick-track {
        height: auto;
        max-height: none;
    }
    .main-visual-wrap .slick-dots {
        left: 15px;
        bottom: 15px;
    }
    .main-visual-wrap .mo-hide {
        display: none;
    }
    .main-visual-wrap .mo-show {
        display: block;
    }

    /* 메인::비쥬얼 사이드 */
    .main-aside {
        gap: 10px;
    }
    .main-aside-con{
        height: 120px;
    }
    .main-aside-con .box:after {
        width: 40px !important;
        height: 40px !important;
    }
    .main-aside-con:hover .box:after {
        width: 40px !important;
        height: 40px !important;
    }
        
    /*  메인:: */
    .link-wrap .col2 {
        padding: 10px 20px;
    }
    .link-wrap .col2 > div {
        padding: 5px 40px;
        padding-right: 0;
        background-size: 33px auto;
    }
    .link-wrap .col2 .title {
        font-size: 16px;
    }
    .link-wrap .col2 .date {
        margin-top: 10px;
        font-size: 14px;
    }
    .link-wrap .col2 .dday {
        padding: 8px 15px;
        font-size: 14px;
    }

    /* 서브::준비중 */ 
    .ready-wrap {
        padding: 35px 20px;
    }
    .ready-wrap img{
        width: 206px;
    }
    .ready-wrap p{
        margin-top: 20px;
        border-radius: 10px;
        font-size: 17px;
    }

    /* 서브::온리피시 */
    .onlypc-wrap {
        margin-top: 60px;
        text-align: center;
    }
    .onlypc-wrap img {
        max-width: 189px;
    }
    .onlypc-wrap p {
        margin-top: 20px;
        font-size: 16px;
    }

    /* 서브::visual */
    .wrap.sub .header-wrap{
        padding: 0;
    }
    .wrap.sub .header-wrap .dday-wrap,
    .wrap.sub .header-wrap .header-logo{
        display: none;
    }
    .wrap.sub .btn-menu-open{
        top: 0;
        right: 0;
        width: 45px;
        height: 65px;
        background-image: url('../image/common/ic_menu_open_white.png');
    }
    .sub-visual{
        display: none;
    }

    /* 서브::LNB */
    .sub-menu-wrap {
        margin-top: 0;
    }
    .breadcrumb {
        display: none;
    }
    .sub-menu-list {
        width: 100%;
        margin: 0;
    }
    .sub-menu-list > li{
        position: relative;
        float: left;
        display: block;
        width: 50%;
    }
    .sub-menu-wrap .btn-sub-menu{
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 45px;
        padding: 0 15px;
        padding-right: 20px;
        background-color: #0652b6;
        font-size: 14px;
        color: #fff;
        word-break: break-word;
    }
    .sub-menu-wrap .btn-sub-menu:after{
        display: block;
        content: '';
        clear: both;
        position: absolute;
        top: 0;
        right: 10px;
        width: 10px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../image/sub/ic_btn_submenu.png');
        background-size: 10px;
        transition: 0.3s ease;
    }
    .btn-sub-menu.on:after{
        transform: rotate(180deg);
    }
    .sub-menu-list ul{
        z-index: 2;
        display: none;
        position: absolute;
        top: 45px;
        width: 100%;
        padding: 10px 0;
        background-color: #fff;
        border: 1px solid #0652b6;
        border-top: 0;
    }
    .sub-menu-list ul > li{
        text-align: left;
    }
    .sub-menu-list ul > li:before{
        display: none;
    }
    .sub-menu-list ul > li > a{
        position: relative;
        display: block;
        height: auto;
        padding: 5px 15px;
        padding-left: 25px;
        font-size: 14px;
        color: #191919;
        word-break: break-word;
    }
    .sub-menu-list ul > li > a:before{
        content: '';
        position: absolute;
        top: 13px;
        left: 15px;
        display: block;
        width: 4px;
        height: 1px;
        background-color: #000;
    }
    .sub-menu-list ul > li:hover > a,
    .sub-menu-list ul > li.on > a{
        color: #000;
        font-weight: 400;
    }

    .sub-menu-depth02{
        border-left: 1px solid rgba(255,255,255,0.5);
    }

    /* 서브::TAP MENU */
    .sub-tab-wrap{
    }
    .sub-tab-menu{
        display: flex;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .sub-tab-menu > li{
        flex-shrink: 1;
        border-radius: 5px;
    }
    .sub-tab-menu > li > a{
        height: 50px;
        padding: 10px;
        font-size: 16px;
    }

    /* 서브::공통 */
    .sub-contents{
        padding-top: 30px;
    }
    .page-tit-wrap{
        margin-bottom: 20px;
    }
    .page-tit {
        padding-left: 30px;
        font-size: 20px;
        background-size: 20px auto;
    }
    .sub-tit-wrap{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .sub-tit{
        padding-left: 18px;
        background-size: auto 9px;
        font-size: 18px;
    }
    .sub-tit-wrap:has(.btn-wrap) {
        align-items: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        gap: 10px;
    }
    .sub-tit-wrap .btn-wrap {
        width: 100%;
    } 

    /* 서브::검색창 */
    .sch-form-wrap {
        margin: 20px 0;
    }
    .sch-wrap{
        padding: 15px;
    }
    .sch-wrap .form-group {
        flex-wrap: wrap;
    }
    .sch-wrap .form-item{
        height: 36px;
    }
    .sch-wrap .sch-cate{
        width: 100%;
    }
    .sch-wrap .sch-key{
        width: calc(100% - 80px);
        margin: 0;
    }
    .sch-wrap .btn-sch{
        width: 80px;
        height: 36px;
        font-size: 14px;
    }

    /* 인사말:: */
    .greeting-wrap{
        flex-direction: column;
        gap: 20px;
    }
    .greeting-wrap .img-wrap{
        width: 100%;
    }
    .greeting-tit {
        display: none;
    }
    .greeting-wrap .text-wrap{
        text-align: justify;
        word-break: break-all;
    }  
    
    /* 프로그램::전체 프로그램 */
    .sub-tab-menu.program-tab-menu {
        justify-content: space-between;
        gap: 20px;
    }
    .sub-tab-menu.program-tab-menu > li{
        min-width: auto;
        max-width: 120px;
        width: 30%;
        flex-shrink: 1;
    }
    .program-tab-menu > li > a{
        padding: 0 10px;
    }
    .sub-tab-slidecon + .sub-tab-slidecon{
        margin-top: 20px;
    }
    .program-table td {
        padding: 10px;
    }
    .program-table td span {
        font-size: 12px;
    }
    .program-table td:has(.program-tag) {
        padding: 30px 10px 10px;
    }

    /* 프로그램::세부 프로그램 */
    .room-tab-menu{
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 20px;
    }
    .room-tab-menu > li{
        width: calc(50% - 5px);
        max-width: none;
    }
    .room-tab-menu > li > a{
        height: 40px;
        font-size: 14px;
    }
    
    .session-table td,
    .session-table th {
        font-size: 14px;
    }
    .session-table thead th {
        padding: 20px;
    }
    
    /* 사전등록::안내 */
    .regi-date-wrap{
        gap: 10px;
        padding: 15px;
    }
    .regi-date-wrap img {
        width: 42px;
    }
    .regi-date-wrap .tit{
        font-size: 16px;
    }
    .btn.btn-img {
        width: 194px;
        height: 45px;
        padding-left: 25px;
        font-size: 15px;
    }
    .btn-img.btn-green{
        width: 215px;
    }
        
    /* 사전등록::작성 */
    .noti-text {
        margin: 20px 0;
        font-size: 17px;
    }
    .term-wrap {
        height: 200px;
        padding: 20px;
    }
    .term-check.checkbox-wrap {
        margin: 10px 0 20px;
        font-size: 16px;
    }

    /* 사전등록::완료 */
    .resi-success img {
        width: 162px;
    }
    .resi-success .tit{
        margin: 15px 0;
        font-size: 20px;
    }

    /* 사전등록::확인 */
    .border-box{
        padding: 20px;
    }
    .border-box.bg-orange {
        font-size: 15px;
    }
    .border-box:has(.btn) {
        flex-direction: column;
        gap: 10px;
    }
    .confirm-wrap {
        margin-top: 20px;
        padding: 40px 20px;
    }
    .confirm-wrap .tit {
        margin: 15px 0;
    }
    .confirm-wrap .tit-wrap img {
        height: 73px;
    }
    .confirm-wrap form .form-item {
        height: 35px;
    }

    /* 강의원고:: */
    .write-tit-wrap{
        padding: 10px 15px;
    }
    .info-box{
        padding: 20px;
        margin-bottom: 20px;
    }
    .info-box strong{
        font-size: 18px;
    }

    /* 행사장안내::오시는길 */
    .map-wrap{
        height: 300px;
    }
    .map-info .map-box {
        flex-direction: column;
        font-size: 14px;
    }
    .map-info .map-box.top {
        margin: 10px 0 0;
    }
    .map-info .top .map-info-box {
        gap: 15px;
        width: 100%;
        padding: 15px;
    }
    .map-info .top .map-info-box + .map-info-box::before {
        right: 0;
        bottom: auto;
        width: 100%;
        height: 1px;
    }
    .map-info .top .map-info-box img {
        width: 22px;
    }
    .map-info .top strong {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .map-info .map-box.bottom {
        padding-top: 20px;
        gap: 20px;
    }
    .map-info .bottom .map-info-box:nth-child(1),
    .map-info .bottom .map-info-box:nth-child(2) {
        width: 100%;
    }
    .map-info-box .tit {
        gap: 5px;
        margin-bottom: 10px;
    }
    .map-info-box .tit img {
        height: 20px;
    }

    /* 행사장안내::호텔예약안내 */
    .border-box.hotel p {
        font-size: 16px;
    }
    .notice-tit {
        margin-top: 20px;
        font-size: 16px;
    }

    /* 현장등록::현장등록 */
    .noti-text.bg-grey {
        padding: 20px;
        margin-bottom: 0;
        background-color: #fafafa;
    }

    /* 워크샵::*/
    .workshop-tit {
        padding: 10px;
        font-size: 16px;
    }
    .workshop-conbox form {
        margin-top: 20px;
    }
}  